.App {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}

.post:first-child{
  margin-top: 50px;
}

.post:hover {
  cursor: pointer;
}
.post {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  margin-top: 30px;
  border: 1px solid #cccccc; 
  border-radius: 0px 20px 20px 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box; 
  background-color: #FFFFFF;
}

.post .title {
  background-color: #F6F6F6;
  padding: 10px; 
  text-align: center;
  border: 1px solid #cccccc; 
  border-radius: 0px 13px 0px 0px; 
  border-bottom: none;
}

.post .caption {
  background-color: #888888;
  padding: 141px; 
  text-align: center;
}

.post .username {
  background-color: #F6F6F6;
  padding: 10px;
  padding-left: 25px;
  text-align: left;
  border: 1px solid #cccccc;
  border-radius: 0px 0px 13px 13px; 
  border-top: none;
}
